<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="static/lib/html5.js"></script>
<script type="text/javascript" src="static/lib/respond.min.js"></script>
<script type="text/javascript" src="static/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="static/h-ui/css/H-ui.css" rel="stylesheet" type="text/css" />
<link href="static/h-ui.ucenter/css/H-ui.ucenter.css" rel="stylesheet" type="text/css" />
<link href="static/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<link href="static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户注册</title>

</head>
<body>
<div class="login-wraper">
  <div class="login-form radius box-shadow">
    <div class="clearfix pt-20">
      <i class="iconpic iconpic-logo"></i>
    </div>
    <div class="row clearfix form-title">注册</div>
    <form class="form form-horizontal" id="form-reg" method="post">
      <div class="row clearfix">
        <input type="text" class="input-text radius size-L" name="username" id="username" value="" placeholder="username">
      </div>
      <div class="row clearfix">
        <input type="password" class="input-text radius size-L" name="password" id="password" value="" placeholder="密码">
      </div>
      <div class="row clearfix">
        <input type="password" class="input-text radius size-L" name="password2" id="password2" value="" placeholder="确认密码">
      </div>
      <div class="row clearfix">
        <button type="submit" class="btn btn-primary btn-block radius size-L">注 册</button>
      </div>
      <div class="line mt-20"></div>
      <div class="row clearfix">已有账户 <a href="/login"><strong>登 录</strong></a></div>
    </form>
  </div>
</div>
<script type="text/javascript" src="static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
  $(function() {
      $("#form-reg").validate({
          rules: {
              username: {
                  required: true
              },
              password: {
                  required: true,
                  rangelength: [6, 16]
              },
          },
          messages: {
              username: {
                  required: "username不能为空！"
              },
              password: {
                  required: "Your password is too short! You need 6++ characters.",
                  rangelength: "You need 6 — 16 characters."
              }
          },
          onkeyup: false,
          focusCleanup: false,
          submitHandler: function(form) {
              $(".label.error").hide();
              //在这里执行表单提交
              $(form).ajaxSubmit({
                type: "post",
                url: "/api/v1/user",
                dataType: "json",
                success: function (data) {
                  if (data.errno == 0){
                    alert("注册成功")
                    window.location.href = "/login";
                    layer.msg('注册成功!',{icon:1,time:1000});
                  }
                  else {
                    alert(data.errmsg)
                    layer.msg(data.errmsg,{icon:1,time:1000});
                  }

                },
                error: function () {
                  alert('注册失败')
                  layer.msg('注册失败!',{icon:1,time:1000});
                }
              });
          }
      });
  });
</script>
</body>
</html>
